<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi Tiết Hóa Đơn</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="wrapper">


    <div th:replace="fragments/sidebar :: sidebar"></div>


    <div class="content-body">

        <div class="top-navbar">
            <div class="breadcrumb-box">

                <span  class="breadcrumb-link">
                    Home
                </span>

                <span class="separator">/</span>

                <a th:href="@{/hoa-don}" style="text-decoration:none; color:inherit;">
                    Hóa đơn
                </a>

                <span class="separator">/</span>

                <span class="active-path">
            Chi tiết hóa đơn
        </span>

            </div>
        </div>

        <div class="detail-container">

            <div class="page-action">

                <a th:href="@{/hoa-don}" class="btn-back">

                    <i class="bi bi-arrow-left-circle"></i>

                    <span>Danh sách hóa đơn</span>

                </a>

            </div>

            <!-- TRẠNG THÁI -->
            <section class="status-timeline">

                <div class="timeline-step">
                    <div class="icon">
                        <i class="fa-solid fa-clock"></i>
                    </div>
                    <span class="info-value">Chờ xác nhận</span>
                </div>

                <div class="timeline-step">
                    <div class="icon">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <span class="info-value">Đã xác nhận</span>
                </div>

                <div class="timeline-step">
                    <div class="icon">
                        <i class="fa-solid fa-store"></i>
                    </div>
                    <span class="info-value">Chờ giao hàng</span>
                </div>

                <div class="timeline-step disabled">
                    <div class="icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <span>Đang giao hàng</span>
                </div>

                <div class="timeline-step disabled">
                    <div class="icon">
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <span>Đã hoàn thành</span>
                </div>

            </section>

            <!-- THÔNG TIN -->
            <div class="info-grid">

                <div class="info-card">
                    <div class="card-title-detail">
                        <i class="fa-solid fa-user"></i>
                        THÔNG TIN KHÁCH HÀNG
                    </div>

                    <div class="info-row">
                        <div class="info-label">Mã khách hàng:</div>
                        <div class="info-value"
                             th:text="${hoaDon.maKhachHang}">
                            KH01
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info-label">Số điện thoại:</div>
                        <div class="info-value">
                            0384825611
                        </div>
                    </div>
                </div>

                <div class="info-card">
                    <div class="card-title-detail">
                        <i class="fa-solid fa-location-dot"></i>
                        THÔNG TIN GIAO HÀNG
                    </div>

                    <div class="info-row">
                        <div class="info-label">Phương thức:</div>
                        <div class="info-value"
                             th:text="${hoaDon.phuongThucThanhToan}">
                            Trực tuyến
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info-label">Ghi chú:</div>
                        <div class="info-value"
                             th:text="${hoaDon.ghiChu != null ? hoaDon.ghiChu : '----'}">
                        </div>
                    </div>
                </div>

                <div class="info-card total-card">

                    <div class="card-title-detail">
                        <i class="fa-solid fa-wallet"></i>
                        TỔNG KẾT THANH TOÁN
                    </div>

                    <div class="info-row">
                        <div class="info-label">Tiền khách đưa:</div>
                        <div class="info-value"
                             th:text="${#numbers.formatDecimal(hoaDon.tienKhachDua,0,'COMMA',0,'POINT')} + ' VND'">
                            0
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info-label">Tiền thừa:</div>
                        <div class="info-value"
                             th:text="${#numbers.formatDecimal(hoaDon.tienThua,0,'COMMA',0,'POINT')} + ' VND'">
                            0
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info-label">Phí vận chuyển:</div>
                        <div class="info-value"
                             th:text="${#numbers.formatDecimal(hoaDon.tienShip,0,'COMMA',0,'POINT')} + ' VND'">
                            0
                        </div>
                    </div>

                    <div class="info-row"
                         style="margin-top:15px;border-top:1px solid #f1f5f9;padding-top:10px;">

                        <div class="info-label"
                             style="font-weight:bold;color:#ef4444;">
                            TỔNG TIỀN:
                        </div>

                        <div class="info-value"
                             style="font-weight:bold;color:#ef4444;font-size:16px;"
                             th:text="${#numbers.formatDecimal(hoaDon.tongTien,0,'COMMA',0,'POINT')} + ' VND'">
                            0 VND
                        </div>

                    </div>

                </div>

            </div>

            <!-- DANH SÁCH SẢN PHẨM -->
            <section class="info-card">

                <div class="card-title-detail" style="color:#1e293b;">
                    <i class="fa-solid fa-box-open"></i>
                    DANH SÁCH SẢN PHẨM (1)
                </div>

                <table class="invoice-table">

                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>MÃ SP</th>
                        <th>TÊN SP</th>
                        <th>SỐ LƯỢNG</th>
                        <th>ĐƠN GIÁ</th>
                        <th>THÀNH TIỀN</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr>
                        <td>1</td>

                        <td class="code-text">
                            SP02
                        </td>

                        <td class="info-value">
                            Giày Thể Thao FSSHOES Air Max 1 (Mẫu Demo)
                        </td>

                        <td>1</td>

                        <td class="money-text"
                            th:text="${#numbers.formatDecimal(hoaDon.tongTien,0,'COMMA',0,'POINT')} + ' VND'">
                            0 VND
                        </td>

                        <td class="money-text"
                            style="color:#ef4444;"
                            th:text="${#numbers.formatDecimal(hoaDon.tongTien,0,'COMMA',0,'POINT')} + ' VND'">
                            0 VND
                        </td>
                    </tr>

                    </tbody>

                </table>

            </section>

        </div>

    </div>

</div>

</body>
</html>