<nav class="sidebar" th:fragment="sidebar">
  <style>
    .sidebar-header{
      background: #fff;
      border-bottom: 1px solid #e5e5e5;
    }
  </style>

  <div>
    <div class="sidebar-header">
      <img th:src="@{/images/img.png}" alt="FS Shop Logo">
    </div>

    <div class="sidebar-menu-wrapper">
      <div class="menu-heading">Chính</div>
      <a href="#"><i class="bi bi-house-door"></i> Trang Chủ</a>
      <a href="#"><i class="bi bi-cart3"></i> Bán hàng</a>
      <a href="#"
         class="menu-parent"
         onclick="toggleSubMenu(event)">
        <div>
          <i class="bi bi-box-seam me-2"></i>
          Sản phẩm
        </div>

        <i class="bi bi-chevron-down arrow"></i>
      </a>

      <div class="submenu">

        <a href="/danhmucsp/index">
          <i class="bi bi-folder"></i>
          Danh mục sản phẩm
        </a>

        <a href="/sanpham/index">
          <i class="bi bi-box"></i>
          Danh sách sản phẩm
        </a>

        <a href="/sanphamct/index">
          <i class="bi bi-grid"></i>
          Sản phẩm chi tiết
        </a>

        <a href="/sanphamha/index">
          <i class="bi bi-image"></i>
          Hình sản phẩm
        </a>

      </div>
      <a href="/hoa-don"
         th:classappend="${activeMenu == 'hoadon'} ? ' active'">
        <i class="bi bi-file-earmark-text"></i>
        Hóa đơn
      </a>

      <div class="menu-heading">Quản Lý</div>
      <a href="/nhan-vien"
         th:classappend="${activeMenu == 'nhanvien'} ? ' active'">
        <i class="bi bi-people"></i>
        Nhân viên
      </a>
      <a href="/tai-khoan"
         th:classappend="${activeMenu == 'taikhoan'} ? ' active'">
        <i class="bi bi-shield-lock"></i>
        Tài khoản & Nhân viên
      </a>
      <a href="/khach-hang/hien-thi"
         th:classappend="${activeMenu == 'khachhang'} ? ' active'">
        <i class="bi bi-person-lines-fill"></i>
        Khách hàng
      </a>
      <a href="/nhap-hang/index"
         th:classappend="${activeMenu == 'nhaphang'} ? ' active'">
        <i class="bi bi-box-arrow-in-down"></i>
        Nhập hàng
      </a>
      <a href="#"><i class="bi bi-arrow-counterclockwise"></i> Trả hàng</a>

      <div class="menu-heading">Khuyến Mãi</div>
      <a href="#"><i class="bi bi-percent"></i> Giảm giá</a>

      <a href="/dot-giam-gia/hien-thi" th:classappend="${activeMenu == 'dotgiamgia'} ? ' active'"><i class="bi bi-tags"></i> Đợt giảm giá</a>

      <div class="menu-heading">Báo Cáo</div>
      <a href="#"><i class="bi bi-calendar2-check"></i> Giao ca & chấm công</a>
      <a href="#"><i class="bi bi-bar-chart-line"></i> Thống kê</a>
    </div>
  </div>

  <div class="sidebar-footer">
    <a href="#" class="d-flex align-items-center gap-2 text-secondary text-decoration-none fw-semibold" style="font-size: 14px;">
      <i class="bi bi-box-arrow-right text-danger"></i> Đăng xuất
    </a>
  </div>

  <script>
    function toggleSubMenu(event){

      event.preventDefault();

      const parent = event.currentTarget;

      const submenu = parent.nextElementSibling;

      submenu.classList.toggle("show");

      parent.querySelector(".arrow")
              .classList.toggle("rotate");
    }
  </script>

</nav>