<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 1240px; height: 718px; min-width: 1240px; position: relative; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="width: 1240px; min-width: 1240px; background: #F5F5F5; box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25); overflow: hidden; border-radius: 12px; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 220px; align-self: stretch; background: var(--color-white-solid, white); border-right: 1px var(--color-orange-87, #E5DFD5) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 55.50px; display: inline-flex">
                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; height: 77px; padding: 16px; background: var(--color-white-solid, white); border-bottom: 1px var(--color-orange-87, #E5DFD5) solid; justify-content: center; align-items: center; display: inline-flex">
                        <img style="width: 77px; height: 77px" src="https://placehold.co/77x77" />
                    </div>
                    <div style="align-self: stretch; padding-left: 8px; padding-right: 8px; padding-top: 16px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
                            <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-65, #9CA3AF); font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 800; text-transform: uppercase; line-height: 15px; letter-spacing: 0.50px; word-wrap: break-word">Chính</div>
                            </div>
                            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: flex">
                                <div style="align-self: stretch; height: 28.50px; position: relative; border-radius: 4px">
                                    <div style="width: 16px; left: 12px; top: 8.75px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-65, #9CA3AF); font-size: 11px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 11px; word-wrap: break-word"></div>
                                    </div>
                                    <div style="width: 53.16px; left: 38px; top: 5px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-46, #6B7280); font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.50px; word-wrap: break-word">Trang Chủ</div>
                                </div>
                                <div style="align-self: stretch; height: 28.50px; position: relative; border-radius: 4px">
                                    <div style="width: 16px; left: 12px; top: 8.75px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-65, #9CA3AF); font-size: 11px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 11px; word-wrap: break-word"></div>
                                    </div>
                                    <div style="width: 49.15px; left: 38px; top: 5px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-46, #6B7280); font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.50px; word-wrap: break-word">Bán hàng</div>
                                </div>
                                <div style="align-self: stretch; height: 28.50px; position: relative; border-radius: 4px">
                                    <div style="width: 16px; left: 12px; top: 8.75px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-65, #9CA3AF); font-size: 11px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 11px; word-wrap: break-word"></div>
                                    </div>
                                    <div style="width: 53.15px; left: 38px; top: 5px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-46, #6B7280); font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.50px; word-wrap: break-word">Sản phẩm</div>
                                </div>
                                <div style="align-self: stretch; height: 28.50px; position: relative; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 4px">
                                    <div style="width: 16px; left: 16px; top: 8.75px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-46, #6B7280); font-size: 11px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 11px; word-wrap: break-word"></div>
                                    </div>
                                    <div style="width: 45.13px; left: 42px; top: 5px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-46, #6B7280); font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 16.50px; word-wrap: break-word">Hóa đơn</div>
                                </div>
                            </div>
                        </div>
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
                            <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-65, #9CA3AF); font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 800; text-transform: uppercase; line-height: 15px; letter-spacing: 0.50px; word-wrap: break-word">Quản lý</div>
                            </div>
                            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: flex">
                                <div style="align-self: stretch; height: 28.50px; position: relative; background: var(--color-grey-96, #F3F4F6); border-radius: 4px; outline: 1px var(--color-red-51, #D32F2F) solid; outline-offset: -1px">
                                    <div style="left: 12px; top: 8.75px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--color-red-51, #D32F2F); font-size: 11px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 11px; word-wrap: break-word"></div>
                                    </div>
                                    <div style="width: 52.15px; left: 38px; top: 5px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: var(--color-red-51, #D32F2F); font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.50px; word-wrap: break-word">Nhân viên</div>
                                </div>
                                <div style="align-self: stretch; height: 28.50px; position: relative; border-radius: 4px">
                                    <div style="width: 16px; left: 12px; top: 8.75px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-65, #9CA3AF); font-size: 11px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 11px; word-wrap: break-word"></div>
                                    </div>
                                    <div style="width: 62.19px; left: 38px; top: 5px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-46, #6B7280); font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.50px; word-wrap: break-word">Khách hàng</div>
                                </div>
                                <div style="align-self: stretch; height: 28.50px; position: relative; border-radius: 4px">
                                    <div style="width: 16px; left: 12px; top: 8.75px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-65, #9CA3AF); font-size: 11px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 11px; word-wrap: break-word"></div>
                                    </div>
                                    <div style="width: 57.17px; left: 38px; top: 5px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-46, #6B7280); font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.50px; word-wrap: break-word">Nhập hàng</div>
                                </div>
                                <div style="align-self: stretch; height: 28.50px; position: relative; border-radius: 4px">
                                    <div style="width: 16px; left: 12px; top: 8.75px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-65, #9CA3AF); font-size: 11px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 11px; word-wrap: break-word"></div>
                                    </div>
                                    <div style="width: 44.14px; left: 38px; top: 5px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-46, #6B7280); font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.50px; word-wrap: break-word">Trả hàng</div>
                                </div>
                            </div>
                        </div>
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
                            <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-65, #9CA3AF); font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 800; text-transform: uppercase; line-height: 15px; letter-spacing: 0.50px; word-wrap: break-word">Khuyến mãi</div>
                            </div>
                            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: flex">
                                <div style="align-self: stretch; height: 28.50px; position: relative; border-radius: 4px">
                                    <div style="width: 16px; left: 12px; top: 8.75px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-65, #9CA3AF); font-size: 11px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 11px; word-wrap: break-word">%</div>
                                    </div>
                                    <div style="width: 47.13px; left: 38px; top: 5px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-46, #6B7280); font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.50px; word-wrap: break-word">Giảm giá</div>
                                </div>
                                <div style="align-self: stretch; height: 28.50px; position: relative; border-radius: 4px">
                                    <div style="width: 16px; left: 12px; top: 8.75px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-65, #9CA3AF); font-size: 11px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 11px; word-wrap: break-word"></div>
                                    </div>
                                    <div style="width: 67.20px; left: 38px; top: 5px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-46, #6B7280); font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.50px; word-wrap: break-word">Đợt giảm giá</div>
                                </div>
                            </div>
                        </div>
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
                            <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-65, #9CA3AF); font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 800; text-transform: uppercase; line-height: 15px; letter-spacing: 0.50px; word-wrap: break-word">Báo cáo</div>
                            </div>
                            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: flex">
                                <div style="align-self: stretch; height: 28.50px; position: relative; border-radius: 4px">
                                    <div style="width: 16px; left: 12px; top: 8.75px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-65, #9CA3AF); font-size: 11px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 11px; word-wrap: break-word"></div>
                                    </div>
                                    <div style="width: 112.17px; left: 38px; top: 5px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-46, #6B7280); font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.50px; word-wrap: break-word">Giao ca & chấm công</div>
                                </div>
                                <div style="align-self: stretch; height: 28.50px; position: relative; border-radius: 4px">
                                    <div style="width: 16px; left: 12px; top: 8.75px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--color-azure-65, #9CA3AF); font-size: 11px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 11px; word-wrap: break-word"></div>
                                    </div>
                                    <div style="width: 48.15px; left: 38px; top: 5px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-46, #6B7280); font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.50px; word-wrap: break-word">Thống kê</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; padding: 12px; border-top: 1px var(--color-orange-87, #E5DFD5) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; height: 34.50px; position: relative; background: var(--color-grey-97, #FAF8F5); border-radius: 4px; outline: 1px var(--color-orange-87, #E5DFD5) solid; outline-offset: -1px">
                        <div style="left: 61.13px; top: 11.75px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                            <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-46, #6B7280); font-size: 11px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 11px; word-wrap: break-word"></div>
                        </div>
                        <div style="width: 54.16px; left: 80.13px; top: 8px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-46, #6B7280); font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 16.50px; word-wrap: break-word">Đăng xuất</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="align-self: stretch; justify-content: center; align-items: flex-start; display: flex">
            <div style="width: 1019px; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="width: 1019px; height: 53px; position: relative; background: white; border-bottom: 1px #E5DFD5 solid">
                    <div style="width: 32.24px; height: 12px; left: 24px; top: 20px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">Home</div>
                    <div style="width: 3.36px; height: 12px; left: 62.56px; top: 20px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #D1D5DB; font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 400; word-wrap: break-word">/</div>
                    <div style="width: 63.34px; height: 12px; left: 73.63px; top: 20px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #374151; font-size: 11px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">Nhân viên</div>
                    <div data-svg-wrapper style="left: 967px; top: 12px; position: absolute">
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="28" height="28" rx="14" fill="#E5E7EB"/>
                        </svg>
                    </div>
                    <div style="width: 11.58px; height: 17px; left: 939.75px; top: 17.50px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 15px; font-family: Plus Jakarta Sans; font-weight: 400; word-wrap: break-word">🔔</div>
                    <div data-svg-wrapper style="left: 945px; top: 15.50px; position: absolute">
                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="8" height="8" rx="4" fill="#D32F2F"/>
                        </svg>
                    </div>
                </div>
                <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
                    <div style="align-self: stretch; height: 665px; padding: 20px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="align-self: stretch; padding: 16px; background: white; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                    <div style="align-self: stretch; padding-bottom: 9px; border-bottom: 1px #F3F4F6 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                        <div style="justify-content: center; display: flex; flex-direction: column; color: #374151; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 700; text-transform: uppercase; letter-spacing: 0.60px; word-wrap: break-word">Bộ lọc nhân sự</div>
                                    </div>
                                </div>
                                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                                        <div style="width: 498.58px; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                                            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                                <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 9px; font-family: Plus Jakarta Sans; font-weight: 700; text-transform: uppercase; word-wrap: break-word">Tìm kiếm từ khóa</div>
                                            </div>
                                            <div style="align-self: stretch; padding-left: 10px; padding-right: 10px; padding-top: 8px; padding-bottom: 8px; background: #FAF9F6; overflow: hidden; border-radius: 4px; outline: 1px #E5E7EB solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                                <div style="align-self: stretch; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                                    <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #757575; font-size: 11.40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nhập tên, mã nhân viên, email...</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="width: 332.39px; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                                            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                                <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 9px; font-family: Plus Jakarta Sans; font-weight: 700; text-transform: uppercase; word-wrap: break-word">Phòng ban</div>
                                            </div>
                                            <div style="align-self: stretch; padding-top: 8px; padding-bottom: 8px; padding-left: 14px; padding-right: 26px; background: #FAF9F6; border-radius: 4px; outline: 1px #E5E7EB solid; outline-offset: -1px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
                                                <div style="align-self: stretch; padding-top: 1px; padding-bottom: 1px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                                    <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #4B5563; font-size: 11.30px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Tất cả phòng ban</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-end; display: flex">
                                            <div style="height: 34px; padding-left: 16px; padding-right: 16px; background: #374151; border-radius: 4px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                                                <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Tìm kiếm</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="align-self: stretch; background: white; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); overflow: hidden; border-radius: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                    <div style="align-self: stretch; height: 39px; padding-bottom: 1px; background: #FAF9F6; border-bottom: 1px #E5E7EB solid; justify-content: flex-start; align-items: center; display: inline-flex">
                                        <div style="width: 86px; padding-left: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 700; text-transform: uppercase; letter-spacing: 0.50px; word-wrap: break-word">Mã NV</div>
                                        </div>
                                        <div style="width: 212.59px; padding-left: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 700; text-transform: uppercase; letter-spacing: 0.50px; word-wrap: break-word">Nhân sự</div>
                                        </div>
                                        <div style="width: 161.45px; padding-left: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 700; text-transform: uppercase; letter-spacing: 0.50px; word-wrap: break-word">Phòng ban</div>
                                        </div>
                                        <div style="width: 161.45px; padding-left: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 700; text-transform: uppercase; letter-spacing: 0.50px; word-wrap: break-word">Chức vụ</div>
                                        </div>
                                        <div style="width: 130.75px; padding-left: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 700; text-transform: uppercase; letter-spacing: 0.50px; word-wrap: break-word">Ngày vào làm</div>
                                        </div>
                                        <div style="width: 130.75px; padding-left: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 700; text-transform: uppercase; letter-spacing: 0.50px; word-wrap: break-word">Trạng thái</div>
                                        </div>
                                        <div style="width: 96px; padding-right: 16px; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                                            <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 700; text-transform: uppercase; letter-spacing: 0.50px; word-wrap: break-word">Hành động</div>
                                        </div>
                                    </div>
                                </div>
                                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                    <div style="align-self: stretch; height: 49px; padding-bottom: 1px; border-bottom: 1px #F3F4F6 solid; justify-content: flex-start; align-items: center; display: inline-flex">
                                        <div style="width: 86px; padding-left: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #111827; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">NV034</div>
                                        </div>
                                        <div style="width: 212.59px; padding-left: 8px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                                            <div data-svg-wrapper>
                                                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="26" height="26" rx="13" fill="#E5E7EB"/>
                                                </svg>
                                            </div>
                                            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                                    <div style="justify-content: center; display: flex; flex-direction: column; color: #111827; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">Phạm Minh Hoàng</div>
                                                </div>
                                                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                                    <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 400; word-wrap: break-word">hoang.pm@company.com</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="width: 161.45px; padding-left: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #4B5563; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Phòng Kinh Doanh</div>
                                        </div>
                                        <div style="width: 161.45px; padding-left: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #4B5563; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 400; word-wrap: break-word">Trưởng nhóm (Leader)</div>
                                        </div>
                                        <div style="width: 130.75px; padding-left: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #6B7280; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 400; word-wrap: break-word">15/03/2023</div>
                                        </div>
                                        <div style="width: 130.75px; height: 11px; position: relative">
                                            <div style="padding-left: 8px; padding-right: 8px; padding-top: 2px; padding-bottom: 2px; left: 8px; top: -2px; position: absolute; background: #D1FAE5; border-radius: 12px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                                <div style="justify-content: center; display: flex; flex-direction: column; color: #065F46; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">Đang làm việc</div>
                                            </div>
                                        </div>
                                        <div style="width: 96px; padding-right: 16px; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                                            <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #3B82F6; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">Cập nhật</div>
                                        </div>
                                    </div>
                                </div>
                                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                    <div style="align-self: stretch; height: 49px; padding-bottom: 1px; border-bottom: 1px #F3F4F6 solid; justify-content: flex-start; align-items: center; display: inline-flex">
                                        <div style="width: 86px; padding-left: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #111827; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">NV091</div>
                                        </div>
                                        <div style="width: 212.59px; padding-left: 8px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                                            <div data-svg-wrapper>
                                                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="26" height="26" rx="13" fill="#E5E7EB"/>
                                                </svg>
                                            </div>
                                            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                                    <div style="justify-content: center; display: flex; flex-direction: column; color: #111827; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">Trần Thị Thu Hà</div>
                                                </div>
                                                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                                    <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 400; word-wrap: break-word">ha.ttt@company.com</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="width: 161.45px; padding-left: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #4B5563; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Phòng Nhân Sự</div>
                                        </div>
                                        <div style="width: 161.45px; padding-left: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #4B5563; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 400; word-wrap: break-word">Nhân viên tuyển dụng</div>
                                        </div>
                                        <div style="width: 130.75px; padding-left: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #6B7280; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 400; word-wrap: break-word">02/01/2025</div>
                                        </div>
                                        <div style="width: 130.75px; height: 11px; position: relative">
                                            <div style="padding-left: 8px; padding-right: 8px; padding-top: 2px; padding-bottom: 2px; left: 8px; top: -2px; position: absolute; background: #D1FAE5; border-radius: 12px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                                <div style="justify-content: center; display: flex; flex-direction: column; color: #065F46; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">Đang làm việc</div>
                                            </div>
                                        </div>
                                        <div style="width: 96px; padding-right: 16px; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                                            <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #3B82F6; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">Cập nhật</div>
                                        </div>
                                    </div>
                                </div>
                                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                    <div style="align-self: stretch; height: 49px; padding-bottom: 1px; border-bottom: 1px #F3F4F6 solid; justify-content: flex-start; align-items: center; display: inline-flex">
                                        <div style="width: 86px; padding-left: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #111827; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">NV092</div>
                                        </div>
                                        <div style="width: 212.59px; padding-left: 8px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                                            <div data-svg-wrapper>
                                                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="26" height="26" rx="13" fill="#E5E7EB"/>
                                                </svg>
                                            </div>
                                            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                                    <div style="justify-content: center; display: flex; flex-direction: column; color: #111827; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">Nguyễn Hoàng Long</div>
                                                </div>
                                                <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                                    <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 400; word-wrap: break-word">long.nh@company.com</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="width: 161.45px; padding-left: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #4B5563; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Phòng Kỹ Thuật</div>
                                        </div>
                                        <div style="width: 161.45px; padding-left: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #4B5563; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 400; word-wrap: break-word">Thực tập sinh</div>
                                        </div>
                                        <div style="width: 130.75px; padding-left: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                            <div style="justify-content: center; display: flex; flex-direction: column; color: #6B7280; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 400; word-wrap: break-word">20/05/2026</div>
                                        </div>
                                        <div style="width: 130.75px; height: 11px; position: relative">
                                            <div style="padding-left: 8px; padding-right: 8px; padding-top: 2px; padding-bottom: 2px; left: 8px; top: -2px; position: absolute; background: #F3F4F6; border-radius: 12px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                                                <div style="justify-content: center; display: flex; flex-direction: column; color: #4B5563; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">Thử việc</div>
                                            </div>
                                        </div>
                                        <div style="width: 96px; padding-right: 16px; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                                            <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #3B82F6; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">Cập nhật</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height: 32px; padding-left: 14px; padding-right: 14px; background: #D32F2F; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 4px; flex-direction: column; justify-content: center; align-items: center; display: flex">
                            <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 10.80px; font-family: Inter; font-weight: 700; word-wrap: break-word">+ Thêm nhân viên</div>
                        </div>
                        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                                <div style="width: 26px; height: 26px; padding: 1px; border-radius: 4px; outline: 1px #E5E7EB solid; outline-offset: -1px; justify-content: center; align-items: center; display: flex">
                                    <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #4B5563; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 400; word-wrap: break-word"><</div>
                                </div>
                                <div style="width: 24px; height: 24px; background: #D32F2F; border-radius: 4px; justify-content: center; align-items: center; display: flex">
                                    <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 700; word-wrap: break-word">1</div>
                                </div>
                                <div style="width: 26px; height: 26px; padding: 1px; border-radius: 4px; outline: 1px #E5E7EB solid; outline-offset: -1px; justify-content: center; align-items: center; display: flex">
                                    <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #4B5563; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 400; word-wrap: break-word">2</div>
                                </div>
                                <div style="width: 26px; height: 26px; padding: 1px; border-radius: 4px; outline: 1px #E5E7EB solid; outline-offset: -1px; justify-content: center; align-items: center; display: flex">
                                    <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #4B5563; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 400; word-wrap: break-word">></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 1238px; height: 716px; left: 1px; top: 1px; position: absolute; border-radius: 11px; outline: 1px #D5CFC6 solid"></div>
</div>
</body>
</html>