```html
<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh mục sản phẩm</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <!-- Content -->
    <div class="content-body">

        <!-- Header -->
        <div th:replace="fragments/header :: header('Danh mục sản phẩm','Danh mục sản phẩm')"></div>

        <div class="page-content">

            <div th:if="${mess}"
                 class="alert alert-warning alert-dismissible fade show">
                <span th:text="${mess}"></span>
                <button class="btn-close"
                        data-bs-dismiss="alert">
                </button>
            </div>

            <div class="card card-custom ">

                <div class="card-header text-white"
                     style="background:#c92327;">
                    <h5 class="mb-0">
                        <i class="bi bi-pencil-square me-2"></i>
                        Thông tin danh mục
                    </h5>
                </div>

                <div class="card-body">

                    <form method="post"
                          th:object="${danhmuc}">

                        <div class="row g-3">

                            <div class="col-md-3">
                                <label class="form-label fw-bold">
                                    Mã danh mục
                                </label>

                                <input type="text"
                                       class="form-control bg-light"
                                       th:field="*{maDanhMuc}"
                                       readonly>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label fw-bold">
                                    Tên danh mục
                                </label>

                                <input type="text"
                                       class="form-control"
                                       th:field="*{tenDanhMuc}">

                                <div class="text-danger"
                                     th:errors="*{tenDanhMuc}" >
                                </div>
                            </div>

                            <div class="col-md-5">
                                <label class="form-label fw-bold">
                                    Mô tả
                                </label>

                                <input type="text"
                                       class="form-control"
                                       th:field="*{moTa}">

                                <div class="text-danger"
                                     th:errors="*{moTa}">
                                </div>
                            </div>

                            <select class="form-select"
                                    th:field="*{trangThai}">

                                <option th:value="true">
                                    Hoạt động
                                </option>

                                <option th:value="false">
                                    Ngừng hoạt động
                                </option>

                            </select>

                        </div>

                        <hr>

                        <div class="d-flex gap-2">

                            <button class="btn "
                                    type="submit"
                                    formaction="/danhmucsp/add" style="background:#c92327; color: white">
                                <i class="bi bi-plus-circle"></i>
                                Thêm
                            </button>

                            <button class="btn btn-warning text-white"
                                    type="submit"
                                    formaction="/danhmucsp/update">
                                <i class="bi bi-pencil"></i>
                                Cập nhật
                            </button>

                            <button type="button"
                                    class="btn btn-secondary"
                                    onclick="resetForm()">
                                <i class="bi bi-arrow-clockwise"></i>
                                Reset
                            </button>

                        </div>

                    </form>

                </div>

            </div>

            <!-- TABLE -->
            <div class="table-card">

                <div class="table-header">

                    <h5 class="mb-0 fw-bold">
                        <i class="bi bi-list-ul me-2"></i>
                        Danh sách danh mục sản phẩm
                    </h5>

                </div>

                <div class="table-responsive">

                    <table class="table table-hover align-middle">

                        <thead>
                        <tr>
                            <th style="width:80px">STT</th>
                            <th style="width:120px">Mã DM</th>
                            <th>Tên danh mục</th>
                            <th>Mô tả</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr th:each="dm,row : ${listdmsp}">

                            <td th:text="${row.count}"></td>

                            <td>
                                <span class="fw-bold text-primary"
                                      th:text="${dm.maDanhMuc}">
                                </span>
                            </td>

                            <td th:text="${dm.tenDanhMuc}"></td>

                            <td th:text="${dm.moTa}"></td>

                            <td>

    <span th:if="${dm.trangThai}"
          class="badge bg-success">
        Hoạt động
    </span>

                                <span th:unless="${dm.trangThai}"
                                      class="badge bg-danger">
        Ngừng hoạt động
    </span>

                            </td>

                            <td>

                                <a class="btn btn-outline-primary btn-sm"
                                   th:href="@{/templates/danhmucsp/edit/{id}(id=${dm.maDanhMuc})}">
                                    <i class="bi bi-eye-fill"></i>
                                </a>

                                <a class="btn btn-outline-danger btn-sm"
                                   onclick="return confirm('Bạn có chắc muốn xóa?')"
                                   th:href="@{/templates/danhmucsp/delete/{id}(id=${dm.maDanhMuc})}">
                                    <i class="bi bi-trash-fill"></i>
                                </a>

                            </td>

                        </tr>

                        <tr th:if="${#lists.isEmpty(listdmsp)}">
                            <td colspan="6"
                                class="text-center text-muted">
                                Chưa có dữ liệu
                            </td>
                        </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>

<script>

    function resetForm() {

        window.location.href = "/danhmucsp/index";

    }

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
```
